@media (min-width:300px) and (max-width:575px) {
.container {
    width: 77%;
    padding: 17px 16px;
    margin-top: 25px;
    border-radius: 20px;
}
h1 {
    font-size: 25px;
    margin-bottom: 15px;
}
#submit {
    font-size: 16px;
}
    
}
@media (min-width:576px) and (max-width:767px) {
.container {
    padding: 25px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
    
}
@media (min-width:768px) and (max-width:991px) {
.container {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
    
}
@media (min-width:992px) and (max-width:1199px) {
.container {
    margin-top: 50px;
    margin-bottom: 30px;
  
}  
}
@media (min-width:1200px) and (max-width:1399px) {
.container {
    margin-top: 50px;
    margin-bottom: 30px;
  
}  
}